.right{
    text-align: right;
    margin: 0px auto
}
.left{
    text-align: left;
    margin: 0px auto
}
body {
    margin: 40px 40px 40px 40px;
    padding-left: 50px;
    padding-right: 50px;
    width:500px;
    text-transform: Capitalize;
    font-family: 'Jura', sans-serif;
    font-stretch:ultra-expanded;
    font-size: 30px;
    color:darkgray
    }
.water {
    color:dodgerblue;
    font-weight:bolder
    }
.power {
    color:goldenrod;
    font-weight:bolder
    }
.dark {
    color:palevioletred;
    font-weight:bolder;
}
.man {
    color: darkslategray;
    font-weight:bolder;
}