/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********end of reset**********/

/*********border box reset**********/

*, *:before, *:after {
  box-sizing: border-box;
}

/*********end border box reset**********/


body{
    font-family: futura;
    font-size: 5vw;
    background: antiqu;
}

/********nav*********/
.sidemenu{
    display: block;
    width: 20vw;
    text-align: center;
    }
nav{
    float: left;
    height: 100vh;
    }

.btn-home {
    background-color: teal;
    height: 25vh;

}

.btn-about {
    background-color: lightpink;
    height: 25vh;
}

.btn-rooms {
    background-color: teal;
    height: 25vh;
    

}
.btn-contact {
    background-color: lightpink;
    height: 25vh;
}


/* The dropdown container */
.dropdown {
  float: center;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: antiquewhite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 20px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: aliceblue;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/*****type******/

/*******link*****/

a {
    color: antiquewhite;
    text-decoration: none;
}

a:hover{
    color:black;
}


.btn-home a:hover {
    background-color: black;
}



/*****about***/
.about_title {
    font-size: 30px;
    text-align: center;
    background-color: antiquewhite;
}
p{
    font-size: 25px;
    padding: 15px;
    float: right;
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    display: inline-block
}
.outsideimg{
    width: 45%;
    float: center;
    margin: 15px;
    display: inline-block;
}

/**.mylespic{
    background-image: url(assets/images/myles_outside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}**/

/*****rooms******/
.rooms_title{
    text-align: center;  
}
.subheading {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 40px;    
    text-align: center; 
}
.floorlinks{
    text-align: center;
    margin: 20px;
}
.grow:hover{
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}
path {
  fill: transparent;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
}
h5{
    margin: 20px 20px 0px 20px;
    text-align: justify;
    color: teal;
    font-size: 70%
}
/*********First floor CONTENT********/
.content {
    width: 80vw;
    height: 768px;
    float: right;
    display: block;
    /**border: 10px solid;**/
}

#draggy{
    position: relative;
    height: 300px;
    /*background-image: url(firstfloor.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    border: 2px solid black;
}

.first_floor_title {
    font-size: 70px;
    text-align: center;
    width: 78vw;
    height: 100vh;
    color: darkslategray;
    display: block;
    margin: 10px 20px 10px 10px;
    vertical-align: bottom;
    /***border: 2px solid black;***/
}

h3 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 40px;    
    text-align: center; 
    margin: 30px 10px 0px 10px;
    display: inline-block;
}

.firstfloor{
    text-align: center;
    float: center;
    display: inline-block;
    font-size: 30%;
    padding: 15px;
    margin: 0px 10px 0px 10px;
    position: relative;
}
/*** img {
    width: 100%;
    float: right;
} **/

a img { 
    display: none;
    text-align: center;
}
a:hover img { 
    display:block;
    image-resolution: from-image cover}
.onepic{
    width: 80vw;
    float: center;
    padding: 0px 20px 10px 0px;
}

/*******contact*******/
.map{
    height: 50vh;
    width: 70vw;
    margin: 20px 20px 20px 20px;
    float: right;
}



/****responsive***/

@media all and (max-width: 996px){
    .container{
        max-width: 538px;
}
    .firstfloor{
        text-align: center;
        float: center;
        display: block;
        font-size: 30%;
        padding: 15px;
        position: relative;
    }
    .outsideimg{
        width: 50%;
        float: right;
        margin: 15px;
        display: block;
    }
