h2,h3,h4,h5,h6 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: Capitalize;
}

h1 {
    font-size: 50px;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    text-transform: uppercase;
    }
p {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    }
body {
    margin: 10px 30px 10px 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    }
        